<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index.html">首页</a> &gt; <span>高端party</span></div>
                        <h2 class="section-title"><i class="icon icon-balloon"></i>高端party</h2>
                    </div>
                    <div class="section-content">
                        <ul class="party-list">
                            <li>
                                <img src="img/party_p1.jpg" alt="" class="thumbnail">
                                <h3 class="name">既是信徒，又是自由，泰不一样的暹罗之国</h3>
                                <p class="intro">很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国...</p>
                                <a href="party详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/party_p2.jpg" alt="" class="thumbnail">
                                <h3 class="name">「Bangkok」百转千回，再次相遇</h3>
                                <p class="intro">很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国...</p>
                                <a href="party详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/party_p3.jpg" alt="" class="thumbnail">
                                <h3 class="name">看完就出国之泰国篇--JOJO出品</h3>
                                <p class="intro">很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国...</p>
                                <a href="party详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/party_p4.jpg" alt="" class="thumbnail">
                                <h3 class="name">曼谷+苏梅岛：出国首游7天自由行</h3>
                                <p class="intro">很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国...</p>
                                <a href="party详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/party_p1.jpg" alt="" class="thumbnail">
                                <h3 class="name">既是信徒，又是自由，泰不一样的暹罗之国</h3>
                                <p class="intro">很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国...</p>
                                <a href="party详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/party_p2.jpg" alt="" class="thumbnail">
                                <h3 class="name">「Bangkok」百转千回，再次相遇</h3>
                                <p class="intro">很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国...</p>
                                <a href="party详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/party_p3.jpg" alt="" class="thumbnail">
                                <h3 class="name">看完就出国之泰国篇--JOJO出品</h3>
                                <p class="intro">很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国...</p>
                                <a href="party详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/party_p4.jpg" alt="" class="thumbnail">
                                <h3 class="name">曼谷+苏梅岛：出国首游7天自由行</h3>
                                <p class="intro">很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国...</p>
                                <a href="party详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                        </ul>
                        <div class="pagination">
                            <div class="pull-right">
                                <a href="#" class="first">首页</a>
                                <a href="#" class="prev">上一页</a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#" class="next">下一页</a>
                                <a href="#" class="last">末页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
