<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index.html">首页</a> &gt; <span>高端party</span></div>
                        <h2 class="section-title"><i class="icon icon-balloon"></i>高端party</h2>
                    </div>
                    <div class="section-content">
                        <div class="m-article">
                            <h3 class="article-title">既是信徒，又是自由，泰不一样的暹罗之国</h3>
                            <div class="article-banner"><img src="img/party_banner.jpg" alt=""></div>
                            <div class="article-other">
                                <div class="pull-right article-operation">
                                    <a href="javascript:;" class="article-fav"><i class="icon icon-fav"></i>收藏</a>
                                    <a href="javascript:;" class="article-share"><i class="icon icon-share"></i>分享</a>
                                </div>
                                <div class="pull-left article-info">
                                    <span class="article-date"><i class="icon icon-date"></i>2017-05-04</span>
                                    <span class="article-view"><i class="icon icon-view"></i>3672</span>
                                </div>
                            </div>
                            <div class="article-content">
                                <p>很多人从《暹罗之恋》的电影里得知了泰国这一旧名，却鲜有人知，当年将“暹罗”改为“泰”，是取自其“自由”之意。如果不去亲自感受，或许很难将一个具有两千多年佛教史，佛教徒占全国人口九成以上的文明古国与“自由”扯上紧密的联系，但如今的泰国已然做到。要说为何它多年霸占中国旅行出境人数排行榜的榜首，我想这个国度温暖的海滩、丰富的美食、热情的人民和成熟健全的旅游业会是最好的回答。</p>
                                <p><img src="img/party_p11.jpg" alt=""><img src="img/party_p22.jpg" alt=""><img src="img/party_p33.jpg" alt=""></p>
                                <p>无论是“天使之城”还是“佛教之都”，这些称号都透露出世人对曼谷这座城市的极大褒奖。作为泰国的最大城市和首都，它无疑是传统与时尚、高贵和市井的结合体。有人说：“要享受，就来曼谷吧；要穷游，也来曼谷吧。”因为你在这里不仅能尊贵得像个王，也能一秒内融入嘈杂的市场和当地人讨价还价。</p>
                                <p>坐落在湄南河东岸的大皇宫始建于1782年，这里汇聚了泰国建筑、绘画、雕刻和装潢艺术的精粹，其风格具有鲜明的暹罗建筑艺术特点。过去的大皇宫作为皇室的王宫，而如今成为了旅客参观、接待外宾和举行国家庆典的地方。</p>
                                <p><img src="img/party_p44.jpg" alt=""><img src="img/party_p55.jpg" alt=""><img src="img/party_p66.jpg" alt=""></p>
                                <p>节基殿是大皇宫里规模最大的皇殿，建成于1876年间拉玛五世在位时代，“节基”含有“神盘”、“帝王”的意思，也是曼谷皇朝的名称。</p>
                                <p>武隆碧曼宫，一座欧式建筑，是拉玛五世王在1909年给太子建造的，这里作为国家元首级国宾和皇室贵族的迎宾馆，属于内廷地方，一般不开放参观，从玉佛寺出来，左手方的栏杆后方便是武隆碧曼宫，拍摄的话也是只能隔着栏杆。</p>
                                <p>藏经阁，是一座以绿色琉璃装饰的锥形尖顶建筑，收藏着一部用金片制成的藏经，供奉着许多珍贵的佛像，还收藏者其它手抄本的原版佛经，由于过于珍贵，也是不对外开放的。</p>
                                <p>皇家法藏殿，是大皇宫建筑群中第二大图书馆，也被认为是泰国最精美的图书馆，其门嵌有贝壳，内收藏有《三藏》临摹本和各种经书，这个最早由拉玛一世的王子下令建造的图书馆，最初是给僧侣和学着进行宗教研究的，可惜现在也不对外开放。</p>
                                <p>玉佛寺大雄宝殿外围的112个金翅鸟像，鸟头人身，手臂长着金色羽毛，脚踩代表恶势力的毒蛇，它是最受泰国人民崇敬的神鸟，大神毗湿奴的坐骑，也称”迦楼罗”。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
