<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index.html">首页</a> &gt; <span>特色旅游</span></div>
                        <h2 class="section-title"><i class="icon icon-travel"></i>特色旅游</h2>
                    </div>
                    <div class="section-content">
                        <ul class="travel-list">
                            <li>
                                <img src="img/travel_p1.jpg" alt="" class="thumbnail">
                                <h3 class="name">泰国曼谷+芭提雅6日5晚跟团游</h3>
                                <p><i class="icon icon-loc"></i>出发地点：北京</p>
                                <p><i class="icon icon-clock"></i>出发日期：04月05日，04月10日，04月15日，04月20日，04月25日，04月30日</p>
                                <p class="price">¥<em>2999.0</em></p>
                                <a href="旅游详情.html" class="btn btn-primary btn-look">查看详情</a>
                                <img src="img/travel_rec.png" alt="" class="rec">
                            </li>
                            <li>
                                <img src="img/travel_p2.jpg" alt="" class="thumbnail">
                                <h3 class="name">泰国普吉岛6日4晚半自助游</h3>
                                <p><i class="icon icon-loc"></i>出发地点：北京</p>
                                <p><i class="icon icon-clock"></i>出发日期：04月05日，04月10日，04月15日，04月20日，04月25日，04月30日</p>
                                <p class="price">¥<em>2999.0</em></p>
                                <a href="旅游详情.html" class="btn btn-primary btn-look">查看详情</a>
                                <img src="img/travel_rec.png" alt="" class="rec">
                            </li>
                            <li>
                                <img src="img/travel_p3.jpg" alt="" class="thumbnail">
                                <h3 class="name">美食之旅·泰国曼谷4日3晚跟团游</h3>
                                <p><i class="icon icon-loc"></i>出发地点：北京</p>
                                <p><i class="icon icon-clock"></i>出发日期：04月05日，04月10日，04月15日，04月20日，04月25日，04月30日</p>
                                <p class="price">¥<em>2999.0</em></p>
                                <a href="旅游详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/travel_p4.jpg" alt="" class="thumbnail">
                                <h3 class="name">泰国清迈+清莱5日4晚跟团游</h3>
                                <p><i class="icon icon-loc"></i>出发地点：北京</p>
                                <p><i class="icon icon-clock"></i>出发日期：04月05日，04月10日，04月15日，04月20日，04月25日，04月30日</p>
                                <p class="price">¥<em>2999.0</em></p>
                                <a href="旅游详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/travel_p5.jpg" alt="" class="thumbnail">
                                <h3 class="name">泰国曼谷+芭提雅6日5晚跟团游</h3>
                                <p><i class="icon icon-loc"></i>出发地点：北京</p>
                                <p><i class="icon icon-clock"></i>出发日期：04月05日，04月10日，04月15日，04月20日，04月25日，04月30日</p>
                                <p class="price">¥<em>2999.0</em></p>
                                <a href="旅游详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                            <li>
                                <img src="img/travel_p6.jpg" alt="" class="thumbnail">
                                <h3 class="name">泰国普吉岛6日4晚半自助游</h3>
                                <p><i class="icon icon-loc"></i>出发地点：北京</p>
                                <p><i class="icon icon-clock"></i>出发日期：04月05日，04月10日，04月15日，04月20日，04月25日，04月30日</p>
                                <p class="price">¥<em>2999.0</em></p>
                                <a href="旅游详情.html" class="btn btn-primary btn-look">查看详情</a>
                            </li>
                        </ul>
                        <div class="pagination">
                            <div class="pull-right">
                                <a href="#" class="first">首页</a>
                                <a href="#" class="prev">上一页</a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#" class="next">下一页</a>
                                <a href="#" class="last">末页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
