<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index">首页</a> &gt; <span>关于我们</span></div>
                        <h2 class="section-title"><i class="icon icon-aboutus"></i>关于我们</h2>
                    </div>
                    <div class="section-content">
                        <div class="about-us">
                            <p><img src="/img/aboutus_p1.jpg" alt=""></p>
                            <p>泰国旅游网是CATS（中国旅行社协会）会员、BTIA（北京市旅游行业协会）会员、PATA（亚太旅游组织）成员，是欧洲华人旅游业联合总会创始机构及会员，德国华商联合总会、德国中国商会、法兰克福中资企业协会、北威州中资企业协会（德国）会员，法国华人旅游协会、全法华人旅行社协会、法国中资企业协会会员，英国入境旅游协会会员，以及美国全国旅游协会、美国旅行商协会会员。经营范围包括出境旅游（许可证号：L-BJ-CJ00051）、国内旅游、会奖旅游、旅游电子商务等业务。</p>
                            <p><img src="/img/aboutus_p2.jpg" alt=""><img src="/img/aboutus_p3.jpg" alt=""></p>
                            <h4>品牌荣誉</h4>
                            <p>泰国旅游网沿袭了国际成熟旅游市场的先进理念，充分发挥海外优势，成长为中国出境旅游市场独树一帜的商业品牌，并成为中国领先的出境旅游服务商。</p>
                            <p>凭借完善的服务体系、严谨的企业作风、时尚的品牌形象，泰国旅游网成功跻身于国家旅游局发布的“全国百强旅行社”之列，连续多次获评“中国出境游十大批发商”。2016年，泰国旅游网凭借先进的运营模式、领先的产品理念、强大的市场占有率等综合因素，再度被北京市旅行社等级评定委员会评为最高等级旅行社——5A级旅行社，同期被北京市旅游发展委员会、北京市人力资源和社会保障局授予“第十五届首都旅游紫禁杯先进集体奖”。</p>
                            <p>泰国旅游网始终致力于为游客提供专业、优质、高效的出境游服务，其研发的众多特色旅游产品更是赢得了市场的广泛关注，连续多次被公众媒体评为“年度最佳旅行社”，入选国家旅游局“2016年度全国文明旅游先进单位”，并被中国保护消费者基金会授予“服务满意、诚信示范单位”。</p>
                            <h4>网站服务</h4>
                            <ul class="website-service">
                                <li>
                                    <i class="icon icon-plane"></i>
                                    <h5>出发随心</h5>
                                    <p>全国多出发地<br/>让您说走就走</p>
                                </li>
                                <li>
                                    <i class="icon icon-laptop"></i>
                                    <h5>订购省心</h5>
                                    <p>安全大额支付<br/>方式多样可选</p>
                                </li>
                                <li>
                                    <i class="icon icon-up"></i>
                                    <h5>出行安心</h5>
                                    <p>出行一站服务<br/>保障欢乐无忧</p>
                                </li>
                                <li>
                                    <i class="icon icon-share"></i>
                                    <h5>分享由心</h5>
                                    <p>遨游网站资讯<br/>分享实用攻略</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
