<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index">首页</a> &gt; <span>联系我们</span></div>
                        <h2 class="section-title"><i class="icon icon-phone"></i>联系我们</h2>
                    </div>
                    <div class="section-content">
                        <div class="contact-us">
                            <p><img src="/img/contactus_p1.jpg" alt=""></p>
                            <h4>联系方式</h4>
                            <ul class="contact-way">
                                <li>
                                    <i class="icon icon-phone"></i>
                                    <h5>联系电话</h5>
                                    <p>010-68508800</p>
                                </li>
                                <li>
                                    <i class="icon icon-email"></i>
                                    <h5>E-mail</h5>
                                    <p>thatravel@hotmail.com</p>
                                </li>
                                <li>
                                    <i class="icon icon-qq"></i>
                                    <h5>客服QQ</h5>
                                    <p>2052859230</p>
                                </li>
                                <li>
                                    <i class="icon icon-msg"></i>
                                    <h5>在线客服</h5>
                                    <p><a href="javascript:;">点击咨询</a></p>
                                </li>
                            </ul>
                            <h4>提交留言</h4>
                            <form class="message-form">
                                <p>你可以随时通过电话与邮件与我们联系，或把你的留言填写在下方的表格中提交给我们</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="您的称呼">
                                    <input type="text" class="form-control" placeholder="公司名称（选填）">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="联系电话">
                                    <input type="text" class="form-control" placeholder="电子邮箱">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="留言信息"></textarea>
                                </div>
                                <div class="btn-group">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary">确认提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side"%>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
