<body>

<%= render "common/header" %>

    <div class="banner">
        <div class="focus-slide" id="focus-slide">
            <ul class="banner-list">
                <li style="background-image:url(img/focus_banner.jpg);"></li>
                <li style="background-image:url(img/focus_banner.jpg);"></li>
                <li style="background-image:url(img/focus_banner.jpg);"></li>
                <li style="background-image:url(img/focus_banner.jpg);"></li>
                <li style="background-image:url(img/focus_banner.jpg);"></li>
            </ul>
        </div>
    </div>
    <div class="weather">
        <div class="layout">
            <dl>
                <dt>
                    <i class="icon icon-weather"></i>泰国主要城市天气<span class="time">2017/03/25 22:16:38</span>
                </dt>
                <dd>
                    <span class="city">曼谷：晴 &nbsp; 22℃~28℃</span>
                    <span class="city">芭提雅：晴 &nbsp; 22℃~28℃</span>
                    <span class="city">普吉岛：晴 &nbsp; 22℃~28℃</span>
                    <span class="city">苏梅岛：晴 &nbsp; 22℃~28℃</span>
                    <span class="city">甲米：晴 &nbsp; 22℃~28℃</span>
                    <span class="city">皮皮岛：晴 &nbsp; 22℃~28℃</span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <a href="特色旅游.html" class="section-more">查看全部特色旅游</a>
                        <h2 class="section-title"><i class="icon icon-travel"></i>特色旅游</h2>
                    </div>
                    <div class="section-content">
                        <ul class="travel-rec">
                            <li>
                                <a href="旅游详情.html">
                                    <img src="img/rec_p1.jpg" alt="" class="thumbnail">
                                    <h3 class="name">泰国曼谷+芭提雅6日5晚跟团游</h3>
                                    <p>
                                        <span class="city">广州出发</span>
                                        <span class="price">¥3999.0 起</span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="旅游详情.html">
                                    <img src="img/rec_p3.jpg" alt="" class="thumbnail">
                                    <h3 class="name">美食之旅·泰国曼谷4日3晚跟团游</h3>
                                    <p>
                                        <span class="city">北京出发</span>
                                        <span class="price">¥2999.0 起</span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="旅游详情.html">
                                    <img src="img/rec_p2.jpg" alt="" class="thumbnail">
                                    <h3 class="name">泰国曼谷+芭提雅6日5晚跟团游</h3>
                                    <p>
                                        <span class="city">广州出发</span>
                                        <span class="price">¥3999.0 起</span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="旅游详情.html">
                                    <img src="img/rec_p4.jpg" alt="" class="thumbnail">
                                    <h3 class="name">泰国清迈+清莱5日4晚跟团游</h3>
                                    <p>
                                        <span class="city">北京出发</span>
                                        <span class="price">¥2999.0 起</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="index-rec">
                    <div class="s-section heading-striped rec-sec">
                        <div class="section-heading">
                            <h2 class="section-title"><img src="img/thailand_show.png" alt="" class="en"><i class="icon icon-performance"></i>泰国表演</h2>
                        </div>
                        <div class="section-content">
                            <div class="m-itl">
                                <div class="image-text">
                                    <a href="表演详情.html"><img src="img/performance_p111.jpg" alt=""><span class="text">亲子结伴8日包车游清迈</span></a>
                                </div>
                                <ul class="m-list">
                                    <li><a href="表演详情.html"><i class="icon icon-square"></i>环游安达曼海，邂逅梦之岛</a></li>
                                    <li><a href="表演详情.html"><i class="icon icon-square"></i>泰安逸，轻奢华——甲米、清迈双城度假游</a></li>
                                    <li><a href="表演详情.html"><i class="icon icon-square"></i>阳光很晒，时间很慢 | 清迈自由自在漫行记</a></li>
                                    <li><a href="表演详情.html"><i class="icon icon-square"></i>被遗忘的安达曼海避世天堂</a></li>
                                </ul>
                                <a href="泰国表演.html" class="look-more"><i class="icon icon-q"></i>查看更多内容...</a>
                            </div>
                        </div>
                    </div>
                    <div class="s-section heading-striped rec-sec">
                        <div class="section-heading">
                            <h2 class="section-title"><img src="img/food_shopping.png" alt="" class="en"><i class="icon icon-shopping"></i>美食购物</h2>
                        </div>
                        <div class="section-content">
                            <div class="m-itl">
                                <div class="image-text">
                                    <a href="购物详情.html"><img src="img/shopping_p111.jpg" alt=""><span class="text">亲子结伴8日包车游清迈</span></a>
                                </div>
                                <ul class="m-list">
                                    <li><a href="购物详情.html"><i class="icon icon-square"></i>环游安达曼海，邂逅梦之岛</a></li>
                                    <li><a href="购物详情.html"><i class="icon icon-square"></i>泰安逸，轻奢华——甲米、清迈双城度假游</a></li>
                                    <li><a href="购物详情.html"><i class="icon icon-square"></i>阳光很晒，时间很慢 | 清迈自由自在漫行记</a></li>
                                    <li><a href="购物详情.html"><i class="icon icon-square"></i>被遗忘的安达曼海避世天堂</a></li>
                                </ul>
                                <a href="美食购物.html" class="look-more"><i class="icon icon-q"></i>查看更多内容...</a>
                            </div>
                        </div>
                    </div>
                    <div class="s-section heading-striped rec-sec">
                        <div class="section-heading">
                            <h2 class="section-title"><img src="img/wonderful_activity.png" alt="" class="en"><i class="icon icon-activity"></i>精彩活动</h2>
                        </div>
                        <div class="section-content">
                            <div class="m-itl">
                                <div class="image-text">
                                    <a href="活动详情.html"><img src="img/activity_p111.jpg" alt=""><span class="text">亲子结伴8日包车游清迈</span></a>
                                </div>
                                <ul class="m-list">
                                    <li><a href="活动详情.html"><i class="icon icon-square"></i>环游安达曼海，邂逅梦之岛</a></li>
                                    <li><a href="活动详情.html"><i class="icon icon-square"></i>泰安逸，轻奢华——甲米、清迈双城度假游</a></li>
                                    <li><a href="活动详情.html"><i class="icon icon-square"></i>阳光很晒，时间很慢 | 清迈自由自在漫行记</a></li>
                                    <li><a href="活动详情.html"><i class="icon icon-square"></i>被遗忘的安达曼海避世天堂</a></li>
                                </ul>
                                <a href="精彩活动.html" class="look-more"><i class="icon icon-q"></i>查看更多内容...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
