<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index.html">首页</a> &gt; <span>泰国表演</span></div>
                        <h2 class="section-title"><i class="icon icon-performance"></i>泰国表演</h2>
                    </div>
                    <div class="section-content">
                        <ul class="m-it-list mt15">
                            <li>
                                <h3 class="name">环游安达曼海，邂逅梦之岛</h3>
                                <div class="info">
                                    <div class="thumbnail"><img src="img/performance_p1.jpg" alt=""></div>
                                    <p class="intro">格兰岛，距离芭提雅最近的岛，而月光岛是格兰岛附属的岛屿之一。如果说芭提雅是度假者的圣地，那月光岛一定是运动爱好者的天堂。这里主要以水上运动为主，橡皮艇、快艇等等，水质还不错，可以下海游泳。这里人气很旺，很难拍出人少的场景...</p>
                                    <a href="表演详情.html" class="btn btn-primary btn-look">查看详情</a>
                                </div>
                            </li>
                            <li>
                                <h3 class="name">亲子结伴8日包车游清迈</h3>
                                <div class="info">
                                    <div class="thumbnail"><img src="img/performance_p2.jpg" alt=""></div>
                                    <p class="intro">格兰岛，距离芭提雅最近的岛，而月光岛是格兰岛附属的岛屿之一。如果说芭提雅是度假者的圣地，那月光岛一定是运动爱好者的天堂。这里主要以水上运动为主，橡皮艇、快艇等等，水质还不错，可以下海游泳。这里人气很旺，很难拍出人少的场景...</p>
                                    <a href="表演详情.html" class="btn btn-primary btn-look">查看详情</a>
                                </div>
                            </li>
                            <li>
                                <h3 class="name">泰安逸，轻奢华——甲米、清迈双城度假游</h3>
                                <div class="info">
                                    <div class="thumbnail"><img src="img/performance_p3.jpg" alt=""></div>
                                    <p class="intro">格兰岛，距离芭提雅最近的岛，而月光岛是格兰岛附属的岛屿之一。如果说芭提雅是度假者的圣地，那月光岛一定是运动爱好者的天堂。这里主要以水上运动为主，橡皮艇、快艇等等，水质还不错，可以下海游泳。这里人气很旺，很难拍出人少的场景...</p>
                                    <a href="表演详情.html" class="btn btn-primary btn-look">查看详情</a>
                                </div>
                            </li>
                            <li>
                                <h3 class="name">阳光很晒，时间很慢 | 清迈自由自在漫行记</h3>
                                <div class="info">
                                    <div class="thumbnail"><img src="img/performance_p4.jpg" alt=""></div>
                                    <p class="intro">格兰岛，距离芭提雅最近的岛，而月光岛是格兰岛附属的岛屿之一。如果说芭提雅是度假者的圣地，那月光岛一定是运动爱好者的天堂。这里主要以水上运动为主，橡皮艇、快艇等等，水质还不错，可以下海游泳。这里人气很旺，很难拍出人少的场景...</p>
                                    <a href="表演详情.html" class="btn btn-primary btn-look">查看详情</a>
                                </div>
                            </li>
                            <li>
                                <h3 class="name">被遗忘的安达曼海避世天堂</h3>
                                <div class="info">
                                    <div class="thumbnail"><img src="img/performance_p5.jpg" alt=""></div>
                                    <p class="intro">格兰岛，距离芭提雅最近的岛，而月光岛是格兰岛附属的岛屿之一。如果说芭提雅是度假者的圣地，那月光岛一定是运动爱好者的天堂。这里主要以水上运动为主，橡皮艇、快艇等等，水质还不错，可以下海游泳。这里人气很旺，很难拍出人少的场景...</p>
                                    <a href="表演详情.html" class="btn btn-primary btn-look">查看详情</a>
                                </div>
                            </li>
                            <li>
                                <h3 class="name">亲子结伴8日包车游清迈</h3>
                                <div class="info">
                                    <div class="thumbnail"><img src="img/performance_p6.jpg" alt=""></div>
                                    <p class="intro">格兰岛，距离芭提雅最近的岛，而月光岛是格兰岛附属的岛屿之一。如果说芭提雅是度假者的圣地，那月光岛一定是运动爱好者的天堂。这里主要以水上运动为主，橡皮艇、快艇等等，水质还不错，可以下海游泳。这里人气很旺，很难拍出人少的场景...</p>
                                    <a href="表演详情.html" class="btn btn-primary btn-look">查看详情</a>
                                </div>
                            </li>
                        </ul>
                        <div class="pagination">
                            <div class="pull-right">
                                <a href="#" class="first">首页</a>
                                <a href="#" class="prev">上一页</a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#" class="next">下一页</a>
                                <a href="#" class="last">末页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
