<div class="side">

<div class="s-nav mt15">
    <a href="/index"><i class="icon icon-weather"></i><span>泰国<br/>天气</span></a>
    <a href="/about"><i class="icon icon-map"></i><span>关于<br/>我们</span></a>
    <a href="/messages"><i class="icon icon-msg"></i><span>联系<br/>我们</span></a>
</div>
<div class="s-section mt15">
    <div class="section-heading">
        <h2 class="section-title text-center"><i class="icon icon-diamond"></i>钻石品质放心游</h2>
    </div>
    <div class="section-content">
        <ul class="diamond-quality">
            <li><i class="icon icon-price"></i>真实价格，行程完全透明</li>
            <li><i class="icon icon-service"></i>专属客服，全程贴心服务</li>
            <li><i class="icon icon-line"></i>众多线路，任您随心挑选</li>
            <li><i class="icon icon-brand"></i>服务保障，泰国旅游品牌</li>
        </ul>
    </div>
</div>
</div>
