<div class="side">
<div class="s-section heading-striped">
    <div class="section-heading">
        <h2 class="section-title">推荐线路</h2>
    </div>
    <div class="section-content">
        <ul class="recommended-list">
            <li>
                <a href="旅游详情.html">
                    <img src="img/rec_p1.jpg" alt="" class="thumbnail">
                    <h3 class="name">泰国曼谷+芭提雅6日5晚跟团游</h3>
                    <p>
                        <span class="city">广州出发</span>
                        <span class="price">¥3999.0 起</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="旅游详情.html">
                    <img src="img/rec_p2.jpg" alt="" class="thumbnail">
                    <h3 class="name">泰国曼谷+芭提雅6日5晚跟团游</h3>
                    <p>
                        <span class="city">广州出发</span>
                        <span class="price">¥3999.0 起</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="s-section heading-striped mt15">
    <div class="section-heading">
        <h2 class="section-title"><img src="img/high_end_party.png" alt="" class="en"><i class="icon icon-balloon"></i>高端party</h2>
    </div>
    <div class="section-content">
        <div class="party-slide" id="party-slide">
            <ul class="thumbnail-list">
                <li><a href="party详情.html"><img src="img/s_party_p1.jpg" alt=""></a></li>
                <li><a href="party详情.html"><img src="img/s_party_p1.jpg" alt=""></a></li>
                <li><a href="party详情.html"><img src="img/s_party_p1.jpg" alt=""></a></li>
            </ul>
        </div>
        <ul class="m-list ml10 mr10">
            <li><a href="party详情.html"><i class="icon icon-square"></i>环游安达曼海，邂逅梦之岛</a></li>
            <li><a href="party详情.html"><i class="icon icon-square"></i>被遗忘的安达曼海避世天堂</a></li>
            <li><a href="party详情.html"><i class="icon icon-square"></i>清迈自由自在漫行记</a></li>
        </ul>
        <a href="高端party.html" class="btn party-more">查看更多</a>
    </div>
</div>
<div class="s-nav mt15">
    <a href="#"><i class="icon icon-weather"></i><span>泰国<br/>天气</span></a>
    <a href="about"><i class="icon icon-map"></i><span>关于<br/>我们</span></a>
    <a href="contact"><i class="icon icon-msg"></i><span>联系<br/>我们</span></a>
</div>
<div class="s-section mt15">
    <div class="section-heading">
        <h2 class="section-title text-center"><i class="icon icon-diamond"></i>钻石品质放心游</h2>
    </div>
    <div class="section-content">
        <ul class="diamond-quality">
            <li><i class="icon icon-price"></i>真实价格，行程完全透明</li>
            <li><i class="icon icon-service"></i>专属客服，全程贴心服务</li>
            <li><i class="icon icon-line"></i>众多线路，任您随心挑选</li>
            <li><i class="icon icon-brand"></i>服务保障，泰国旅游品牌</li>
        </ul>
    </div>
</div>
</div>
